* {
  box-sizing: border-box;
}

body {
  background-color: rgb(238, 220, 203);
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  padding: 20px;
  gap: 20px;
}

.note {
  background-color: rgb(230, 173, 173);
  height: 200px;
  box-sizing: border-box;
  padding: 15px;
  border: none;
  border-radius: 1em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  resize: none;
  font-size: 1em;
}

#add {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  background-color: rgb(121, 57, 57);
}

#addButton{
    font-size: 4em;
    font-weight: bold;
    width: 200px;
    height: 200px;
    background: transparent;
    color: rgb(238, 220, 203);
    border: none;
    outline: none;
    cursor: pointer;
}


